[submodule "sub/common"]
	path = sub/common
	url = https://github.com/spersvold/common_rtl
[submodule "sub/vctrl"]
	path = sub/vctrl
	url = https://github.com/spersvold/vctrl
[submodule "environ/arm-trusted-firmware"]
	path = environ/arm-trusted-firmware
	url = https://github.com/altera-fpga/arm-trusted-firmware.git
[submodule "environ/u-boot-socfpga"]
	path = environ/u-boot-socfpga
	url = https://github.com/altera-fpga/u-boot-socfpga.git
[submodule "environ/linux-socfpga"]
	path = environ/linux-socfpga
	url = https://github.com/altera-fpga/linux-socfpga.git
