*.dis.S
*.hex
*.map
*.elf
*.bin
simv
simv.vdb
simv.daidir
csrc
obj_dir
rundir
*.fst*
*.vpd
*.vcd
*.~*
*~
vc_hdrs.h
DVEfiles
ucli.key
vcs.key
core.*
*.log
*.swp
\#*
\.\#*
*.sgdc
work
fw/*.sv
fw/*.dtb
.DS_Store
